﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Teste da geração de um boleto do Bradesco</h1>
    <p class="lead">Boleto gerado com dados mockados para teste do framework Boleto2Net</p>
    <p><a href="/home/geraBoleto" class="btn btn-primary btn-lg" target="_blank">Gerar Boleto</a></p>
    <p><a href="/home/geraBoletoPDF" class="btn btn-success btn-lg" target="_blank">Gerar PDF do Boleto</a></p>
</div>
